html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  color: #35353b;
  font-family: var(--font-inter) !important;
}

.ant-layout {
  font-family: var(--font-inter) !important;
}

.ant-card-body {
  position: relative;
  height: 100%;
}

.ant-menu-item.ant-menu-item-selected {
  background: #1c1c21;
  border: 1px solid #000;
}

.navbar-desktop {
  width: 280px !important;
  max-width: 280px !important;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1 1 auto !important;
}

.navbar-desktop.ant-layout-sider-collapsed {
  padding-left: 0px;
  padding-right: 0px;
  flex: 1 1 0px;
  width: 0 !important;
  max-width: 0 !important;
}

.ant-card .ant-card-body {
  padding: 20px;
}
